{% extends "base.html" %}

{% block content %}
<h1>Добавление фильма</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control") }}<br>
        {% for error in form.genre.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.year.label }}<br>
        {{ form.year(class="form-control") }}<br>
        {% for error in form.year.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.duration.label }}<br>
        {{ form.duration(class="form-control") }}<br>
        {% for error in form.duration.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.watched() }} {{ form.watched.label }}</p>
    <p>
        {{ form.timecode.label }}<br>
        {{ form.timecode(class="form-control") }}<br>
        {% for error in form.timecode.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
